/* General Styling */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #ffffff;
  background-image: linear-gradient(to top, #777777 0%, #2e2e2e 100%);
  text-align: center;
}

/* Banner */
.banner {
  position: relative; 
  top: 2px;
}

.bannerimage {
  width: 45%;
  border-radius: 50px;
}

/* Navigation Bar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #691d1d;
  background-image: linear-gradient(to top, #0e0d0d 0%, #691d1d 100%);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

li {
  float: left;
}

li a {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 16px 40px;
  text-decoration: none;
}

li a:hover:not(.active) {
     border: none;
    outline: none;
    border-radius: 20px;
  background-color: #441111;
  background-image: linear-gradient(to top, #693c3c 0%, #3f1212 100%);
}

.active {
    border: none;
    outline: none;
    border-radius: 20px;
  background-color: #6d1f1f;
  background-image: linear-gradient(to top, #804a4a 0%, #803030 100%);
}

/* Page Layout */
.container {
  max-width: 400px;
  margin: 40px auto 40px auto; 
  background-color: #ad8585;
  background-image: linear-gradient(to top, #6d5454 0%, #ad8585 100%);
  padding: 50px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 120%;
}

/* Form Styling */
h1 {
  color: #b9a3a3
}

h2 {
   text-align: center;
   color:rgb(75, 65, 51);
}

form label {
  display: block;
  margin-bottom: 8px;
  color: #555;
}

form input[type="text"],
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

form button {
  background-color: #462727;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}

form button:hover {
  background-color: #795656;
}



